*{
    margin: 0;
    padding: 0;
}
body{
    background: #00c9df;
    color: #4C4C4C;
    font-family: Arial;
    font-size: 16px;
}
h1{
    padding: 1em;
    text-align: center;
}
img{
    max-width: 100%;
}
#preloader{
    background: rgba(100,100,100,1);
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
}
#preloader figure{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#wraper{
    display: none;
}
.hide{
    display: none;
}